.fas fa-shopping-cart{  
    font-family: 'fas fa-shopping-cart';
}


.header {
    width:100%;
    background-color: rgba(235, 235, 235, 0.719);
    padding-top: 10px;
    padding-bottom: 10px;
}

.catagories {
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    
    margin-top: 25px;   
}

.lines {
   border: 1px solid;
   padding-left:10px;
   padding-right:10px;
   margin-left:25px;
   margin-right:25px;
}

#images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}


.Iphone {
    flex: 10.33%;
    margin-right:15px;
    margin-left: 15px;
    padding:0;
    border: 1px solid;
  }


.Iphone>img{
    width:100%
}

.text-center {
    text-align: center;
    border-top: 1px solid;
}

.addToCart {
    margin-left: 90px;
}


i { 
    color: rgb(182, 179, 179);
    font-size: 25px;
    right:1%;
    top: 20px;
    position: absolute;
}



.logo {
    margin-left: 15px;
    width: 30px;
    height: 30px;
}




.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
